.title{
    margin-left: 0px;
}


h1{
    font-weight: bolder;
    margin-bottom: 1em;
}

.res{
    width:100%;
    
    float: right;
    
}


.btn {
    background-color: coral;
    color:white;
    float: right;
}
