.hashtag {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.desc {
    font-size: 20px;
    text-align: center;
}

.category {
    margin-top: 8em;
}

h4{
    color: #FF7E73;
    font-weight: bold;
}

.card {
    box-shadow: 0.5px 0.5px 0.5px 0.5px  coral;
    border-top: black;
    margin-bottom: 4em;
    
}

/* .cat {
    width: 100%;
} */

.link{
    text-decoration: none;
}

.link:hover {
    text-decoration: #FAF4F1;
}

.card-text {
    color: black;
}

.fb{
    margin-bottom: 5em;
    text-align: center;
    
}
.facebook {
    width:500px; 
    height:500px; 
    border:none;
    
    overflow: hidden;
}

.google{
    margin-bottom: 5em;
    text-align: center;
}

.googleforms{
    width:640px;
    height:1100px;
}